

body {
    background-color: lightsalmon;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#die-box {
    margin: 20px;
}

#die { 
    background-color: antiquewhite;
    height: 150px;
    width: 150px;
    border-radius: 30px;
    border-color: #d7a3a3;
    border-width: 4px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column;
}

.die-row {
    width: 120px;
    display: flex;
    align-items: center; /* vertical */
    justify-content: space-around; /* horizontal */
}

.die-dot {
    padding: 3px;
    background-color: black;
    border-radius: 30px;
    height: 15px;
    width: 15;
    margin: 8px;
    box-shadow: inset 2px 2px 5px white;
}


#button-box {
    margin: 20px;
}

button {
    background-color: orangered;
    color: antiquewhite;
    font-size: xx-large;
    padding: 15px;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer   
} 

button:hover{
    background-color: brown;
}

#text-box {
    margin: 20px;
    font-size:x-large;
    font-family:Arial, Helvetica, sans-serif;
    background-color: darkorange;
    padding: 10px;
    border-radius: 10px;
}

#result-box {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: orangered;
}
